*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    font-size: 16px;
}

body{
    margin: 0px;
    background-color: #FCF8CA;
}

.navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid #3A35411F;
    padding: 12px 120px 12px 120px;
    box-shadow: 1px 0px 1px #3A35411F;
}

/* mengatur content login di tengah */
.bodyLogin{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 944px;
    padding: 64px 120px 64px 120px;
}

/* mengatur lebar box*/
.login-box{
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 617px;
    padding: 36px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    gap: 36px;
}

.login-header{
    width: 100%;
    height: 67px;
    gap: 10px;
    text-align: center;
}

.login-header > header{
    font-family: poppins;
    font-size: 32px;
    line-height: 35.2px;
    font-weight: bold;
    color: #222325;
}

.login-header > p {
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #333333AD;
}
/* mengatur lebar layout login */
.body-input{
    width: 518px;
    height: 442px;
    gap: 24px;
}

/* mengatur lebar isi konten*/
.box-input{
    margin-bottom: 20px;
    gap: 16px;
}

/* mengatur box lebar isi inputan */
.box-input > .input-box{
    position: relative;
    width: 100%;
    height: 76px;
}

.input-box > label{

    height: 28px;
    padding: 0px 16px 4px 0px;
    gap: 4px;
    color: #333333AD;
    font-weight: 400px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}
.input-box > label > span{
    color: #FF5C2B;
}

.box-input > .input-box > input {
    width: 100%;
    height: 48px;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
}

.input-box > .input-field:focus{
    outline: 2px solid #F1F1F1;
}

.eye{
    position: absolute;
    left: 95%;
    transform: translate(-55%,50%);
}

#lupa{
    position: relative;
    text-align: right;
}

.forget{
    text-decoration: none;
    color: #333333AD;
}



/* mengatur box submit */
.box-submit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    gap: 16px;
}

.box-submit .input-box{
    width: 100%;
    height: 42px;
}

.box-submit > .input-box > button {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 10px;
}

.box-submit > .input-box > .masuk{
    background-color: #3ECF4C;
    color: #FFFFFF;
    cursor: pointer;
}

.box-submit > .input-box > .daftar{
    background-color: #E2FCD9CC;
    color: #3ECF4C;
    cursor: pointer;
}

/* mengatur atau hr */

.middle-text{
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 22px;
    gap: 10px;
}

.orText{
    position: absolute;
    margin: 0px;
    padding: 0px 10px 0px 8px;
    left: 50%;
    transform: translate(-50%, -107%);
    background-color: #FFFFFF;
    color: #333333AD;  
}

.middle-text > hr{
    border: 2px solid #F1F1F1;
}

/* masuk dengan google */

.social{
    width: 100%;
    height: 42px;
    
}

.social > button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5;
    background-color: #FFFFFF;
    width: 100%;
    height: 42px;
    padding: 0px 16px;
    border: 2px solid #F1F1F1;
    border-radius: 10px;
    cursor: pointer;
}

.inGoogle img{
    width: 30px;
    height: 30px;
}

.inGoogle p{
    padding: 6px 0px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

@media only screen and (max-width : 580px){
 *{
   font-size: 12px;
 }

.navbar{
    padding: 16px 24px 16px 24px;
    border-top: 1px solid #3E434A4F;
    border-bottom: 1px solid #3E434A4F;
    box-shadow: 4px 8px 12px #3E434A26;
}

.bodyLogin{
    padding: 28px 20px 28px 20px;
    height: 620px;
}

.login-box{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 550px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    gap: 20px;
}

.body-input{
    width: 280px;
    height: 442px;
    gap: 20px;
}

}

